body {
    font-family: Arial, Helvetica, sans-serif;
    background: url('Ichimatsu.jpg') repeat;
    color: rgb(61, 72, 193);
}

nav a {
    color: pink;
}

.current{
    color: black;
}

main.flag {
    background: url('japanflag.jpg') no-repeat center right;
}

.sushi{
    list-style: url(sushi.jpeg);
}